@import '../../../../shared/styles/variable';

.revCirProgressContent {
  font-size: $font-size-base;
  color: $text-color-secondary;

  & h3 {
    color: $text-color;
    font-size: 18px;
    font-weight: $font-weight-medium;
    margin-bottom: 5px;
  }

  & p {
    margin-bottom: 0;
  }
}

.dollarIcon {
  font-weight: $font-weight-medium;
}

.revCirProgressContentBottom {

  & p {
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: $font-weight-bold;
  }

  & span {
    color: $text-color-secondary;
  }
}
