@import '../../../../shared/styles/variable';

.suggestionItem {
  padding: 8px 20px;
  display: flex;
}

.suggestionAvatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 10px;

  @include media-breakpoint-up(lg) {
    width: 50px;
    height: 50px;
    min-width: 50px;
  }

  @include media-breakpoint-up(xxl) {
    width: 70px;
    height: 70px;
    min-width: 70px;
  }
}

.suggestionItemContent {
  margin-left: 14px;
  flex: 1;

  @include media-breakpoint-up(lg) {
    margin-left: 16px;
  }

  @include media-breakpoint-up(xxl) {
    margin-left: 16px;
  }

  [dir='rtl'] & {
    margin-left: 0;
    margin-right: 14px;

    @include media-breakpoint-up(lg) {
      margin-right: 16px;
    }

    @include media-breakpoint-up(xxl) {
      margin-right: 16px;
    }
  }

  & h4 {
    margin-bottom: 2px;
    font-weight: $font-weight-medium;
  }

  & p {
    color: $text-color-secondary;
    margin-bottom: 0;
  }
}

.suggestionAction {
  color: $primary;
}

.suggestionBtn {
  margin: -1px -20px;
  border-top: $border-width solid $border-color;
  text-align: center;
  padding-top: 11px;
  cursor: pointer;
}

.listWrapper {
  margin: 0 -20px;
}
