@import '../../../../shared/styles/variable';

.hospitalStatics {
  margin-top: 10px;
  margin-bottom: 10px;

  @include media-breakpoint-up(xxl) {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.avatarWrapper{
  margin-right: 16px;

  [dir=rtl] & {
    margin-left: 16px;
    margin-right: 0;
  }
}

.hospitalStaticsContent {
  width: calc(100% - 70px);

  & .title {
    font-size: $font-size-lg;
    margin-bottom: 2px;
  }

  & p {
    margin-bottom: 0;
    color: $text-color-secondary;
  }
}

