@import '../../../../shared/styles/variable';

.totalRevenueCard {
  height: calc(100% - 45px);
}

.cardOuterTitle {
  font-size: 16px;
  font-weight: $font-weight-semi-bold;
  color: $text-color;
}

.revenueContent {
  background-color: rgba($primary, .10);


  @include media-breakpoint-up(xxl) {
    margin-right: 40px;

    [dir=rtl] & {
      margin-right: 0;
      margin-left: 40px;
    }
  }

  & h3 {
    color: $text-color;
    font-weight: $font-weight-medium;
    font-size: 18px;
    margin-bottom: 3px;
  }

  & p {
    margin-bottom: 0;
    font-size: $font-size-base;
    color: $text-color-secondary;
  }
}
