@import '../../../../shared/styles/variable';

.ordersCard {
    background-color: $primary;

    & text {
        fill: $white;
      }
}

.ordersFooter {
    font-weight: $font-weight-medium;
    color: #FFFFFF88;
}
