@import '../../../../shared/styles/variable';

.earningGraph {
  & text {
    fill: $text-color;
  }
}

.earningListView {
  border-top: 1px solid $border-color;
}

.earningDot {
  height: 12px;
  width: 12px;
  border-radius: $border-radius-circle;

  [dir=rtl] & {
    margin-right: 0;
    margin-left: 16px;
  }
}

.earningText {
  font-size: $font-size-base;
}

.earningAction {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;

  [dir=rtl] & {
    margin-left: 0;
    margin-right: auto;
  }
}

