@import '../../../../shared/styles/variable';

.buySellBuyNow{
    cursor: pointer;
}
.tab {
    font-size: 14px  !important;
    text-transform: capitalize;
    padding: 0px 0px 12px  !important;
    min-width: 10px;
    margin-left: 6px;
    margin-right: 6px;
    color: $text-color;
    font-weight: $font-weight-semi-bold;
  
    &:active,&:focus,&:visited {
      color: $primary !important;
      border:none !important;
      border-bottom: 2px solid $primary !important;
      text-shadow: 0 0 0.25px currentColor
    }
    &:hover{
        color: $primary;
        border:none
    }
  }
  